# ==========================
# VARIABLES D'ENVIRONNEMENT
# ==========================
.env

# ==========================
# ENV PYTHON
# ==========================
.venv/
venv/
env/

# ==========================
# CACHE PYTHON
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# JUPYTER
# ==========================
.ipynb_checkpoints/

# ==========================
# TESTS
# ==========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==========================
# LOGS
# ==========================
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# SYSTEME
# ==========================
.DS_Store
Thumbs.db

# ==========================
# FICHIERS DE DONNEES
# ==========================
data/
*.csv
*.xlsx
*.xls
*.parquet
*.feather

# ==========================
# CACHE
# ==========================
.cache/

# ==========================
# DASH
# ==========================
assets/.cache/